{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}
{% trans_default_domain "users" %}

{% block admin_title %}{{ parent() }} - {{ 'users.label.title'|trans }}{% endblock %}
{% block admin_page_title_box %}
<div class="toolbar row">
<span class="article-title">{{ 'users.label.title'|trans }}</span>

<div class="pull-right">
    <div class="actions">
        <ul class="navigation" style="height: auto;">
            <li>
                <a class="add" href="{{ generateZendUrl('user', 'create', 'admin') }}">Create new account</a>
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('/js/select2/select2.css') }}" />
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/jquery.dynatable.css') }}">
<link rel="stylesheet" href="{{ asset('/admin-style/action_buttons.css') }}">
<style type="text/css">
    .form-control {
        margin: 0px 0px 10px 0px;
    }
    .form-control input {
        margin-right: 10px;
    }

    #users-table {
        padding: 10px;
        border: 1px solid #ccc;
    }

    #users-table th {
        background: #007fb3;
        color: #fff;
    }

    a.action-btn {margin-left: 5px;}
</style>
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('/js/select2/select2.js') }}"></script>
<script src="{{ asset('/bundles/newscoopnewscoop/js/jquery.dynatable.js') }}"></script>
{% endblock %}

{% block admin_content %}
<div class="row">
    <div class="col-md-3 aside">
        <ul id="status-filter" class="filters">
            <li class="vspace">Status</li>
            <li><a href="#registered" class="active dynatable-filter filter-registered" data-filter="registered">registered (*) (<span>{{ registered }}</span>)</a></li>
            <li><a href="#pending" class="dynatable-filter filter-pending" data-filter="pending">pending (<span>{{ pending }}</span>)</a></li>
            <li><a href="#deleted" class="dynatable-filter filter-deleted" data-filter="deleted">deleted (*) (<span>{{ deleted }}</span>)</a></li>
            <li><a href="#active" class="dynatable-filter filter-active" data-filter="active">Active (<span>{{ active }}</span>)</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <table id="users-table" class="table table-bordered table-hover table-striped" style="word-wrap: break-word;table-layout: fixed;">
        <thead>
          <tr>
            <th data-dynatable-column="username">Login</th>
            <th data-dynatable-column="first_name">Name</th>
            <th data-dynatable-column="last_name">Surname</th>
            <th>email</th>
            <th  data-dynatable-column="types" data-dynatable-no-sort="true">Type</th>
            <th  data-dynatable-column="created">Created</th>
            <th  data-dynatable-column="updated">Updated</th>
            <th style="width: 180px;">Actions</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
    <div class="cleafix"></div>
</div>

<script type="text/javascript">
    var dynatable = $('#users-table')
    .bind('dynatable:init', function (e, dynatable) {
        var hash = window.location.hash.substring(1);
        if (hash != "") {
            $('.dynatable-filter').removeClass('active');
            $('.dynatable-filter.filter-'+hash).addClass('active');
            dynatable.queries.add('filter', hash);
        }
    })
    .dynatable({
        inputs: {
          paginationClass: 'pagination',
          paginationActiveClass: 'current',
          paginationDisabledClass: 'unavailable',
          paginationPrev: '&laquo;',
          paginationNext: '&raquo;'
        },
        dataset: {
            ajax: true,
            ajaxUrl: Routing.generate('newscoop_newscoop_users_loadusers'),
            ajaxOnLoad: false,
            records: [],
            perPageDefault: 10,
            perPageOptions: [10,20,50,100],
        },
        features: {
            paginate: true,
        },
        writers: {
            _cellWriter: function (column, record) {
                if (column.id == 'actions') {
                    column.attributeWriter = function(record) {
                        var html = "";
                        for (index = 0; index < record['links'].length; ++index) {
                            var el = record['links'][index];

                            if (el['rel'] == 'edit') {
                                html += "<a class='btn btn-xs btn-success action-btn' href="+el['href']+">Edit</a>";
                            }

                            if (el['rel'] == 'token' && record['status'] == "Inactive") {
                                html += "<a class='btn btn-xs btn-success action-btn' href="+el['href']+">Resend activation email</a>";
                            }

                            if (el['rel'] == 'rename') {
                                html += "<a class='btn btn-xs btn-success action-btn' href="+el['href']+">Rename</a>";
                            }

                            if (el['rel'] == 'delete' && record['status'] != "Deleted") {
                                html += "<a class='btn btn-xs btn-danger action-btn js-remove-user' data-user-id='"+record.id+"' href="+el['href']+">Remove</a>";
                            }
                        }
                        return html;
                    }
                }

                if (column.id == 'created') {
                    column.attributeWriter = function(record) {
                        return record.created.date;
                    }
                }

                if (column.id == 'updated') {
                    column.attributeWriter = function(record) {
                        return record.updated.date;
                    }
                }

                var html = column.attributeWriter(record),
                    td = '<td';

                if (column.hidden || column.textAlign) {
                  td += ' style="';
                  // keep cells for hidden column headers hidden
                  if (column.hidden) {
                    td += 'display: none;';
                  }
                  // keep cells aligned as their column headers are aligned
                  if (column.textAlign) {
                    td += 'text-align: ' + column.textAlign + ';';
                  }
                  td += '"';
                }
                if (column.cssClass) {
                  td += ' class="' + column.cssClass + '"';
                }

                return td + '>' + html + '</td>';
            }
        }
    }).data('dynatable');

    $('.dynatable-filter').click(function(e){
        $('.dynatable-filter').removeClass('active');
        $(this).addClass('active');
        dynatable.queries.add('filter', $(this).data('filter'));
        dynatable.process();
    });
</script>
{% endblock %}