{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}
{% trans_default_domain "topics" %}
{% block admin_title %}{{ Newscoop['site']['title'] }} - {{ 'topics.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'topics.title'|trans }}{% endblock %}
{% block admin_stylesheets %}
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/angular-ui-tree.min.css') }}">
<style>
.font-fix {
    font-size: 12px;
}
</style>
{% endblock %}
{% block admin_scripts %}
<script type="text/javascript" src="{{ Newscoop['WEBSITE_URL'] }}/bundles/newscoopnewscoop/js/popover.js"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscoopnewscoop/js/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscoopnewscoop/js/angular-ui-tree.js') }}"></script>
<script type="text/javascript" src="{{asset('/bundles/newscoopnewscoop/js/highlight.min.js') }}"></script>
<script type="text/javascript" src="{{asset('/bundles/newscoopnewscoop/js/angular-ui-tree-filter.min.js') }}"></script>
<script type="text/javascript" src="{{asset('/bundles/newscoopnewscoop/js/tree.js') }}"></script>
{% endblock %}
{% block admin_content %}
<div class="system_pref" ng-app="treeApp">
<div class="bs-callout bs-callout-info">
{{ renderTip('topics.tip'|trans) }}
  </div>
<div class="row" ng-controller="treeCtrl" ng-init="dim=false; highlight=true;">
        <div class="col-lg-6">
          <h3>{{ 'topics.label.filterbylang'|trans }}</h3>
          <form class="form-inline" name="filterForm" role="form">
            <div class="input-group input-group-sm">
            <select ng-model="langSelected" ng-options='language.code as (language.name + " [" + language.code + "]") for language in languageList' ng-change="onFilterLanguageChange(langSelected)" class="form-control input-sm" style="width: 550px">
            <option value="">{{ 'topics.label.all'|trans }}</option>
            </select>
          </div>
          </form>
            <h3>{{ 'topics.label.search'|trans }}</h3>
            <form class="form-inline" name="searchForm" role="form">
              <div class="input-group input-group-sm">
                <span class="input-group-addon">{{ 'topics.label.filter'|trans }}</span>
                <input type="search" class="form-control input-sm" placeholder="{{ 'topics.label.filterplaceholder'|trans }}"  ng-model="pattern">
              </div>
            </form>
            <h3>{{ 'topics.label.addroot'|trans }}</h3>
            <div class="alert alert-danger" ng-show="addTopicForm.title.$error.maxlength" role="alert">{{ 'topics.toolong'|trans }}</div>
            <div class="alert alert-danger" ng-show="addTopicForm.title.$error.minlength" role="alert">{{ 'topics.tooshort'|trans }}</div>
            <form class="form-inline" name="addTopicForm" ng-submit="addNewTopic()" role="form">
              <div class="form-group col-lg-9">
                <label for="addNewTopic" class="sr-only">{{ 'topics.label.topicname'|trans }}</label>
                <input type="text" name="title" ng-model="formData.title" required ng-minlength="3" ng-maxlength="25" class="form-control input-sm" id="addNewTopic" placeholder="{{ 'topics.label.topicname'|trans }}">
              </div>
              <button style="width: 130px" ng-disabled="addTopicForm.$invalid" type="submit" class="btn btn-sm btn-success">{{ 'topics.btn.add'|trans }}</button>
            </form>
            <h3>{{ 'topics.label.tree'|trans }}
              <a href="" class="btn btn-xs btn-default pull-right" ng-click="collapseAll()">{{ 'topics.label.collapse'|trans }}</a>
              <a href="" class="btn btn-xs btn-default pull-right" ng-click="expandAll()">{{ 'topics.label.expand'|trans }}</a>
            </h3>
            <!-- Nested node template -->
            <script type="text/ng-template" id="nodes_renderer.html">
              <div ui-tree-handle class="tree-node tree-node-content">
              <div class="drag-bar"></div>
                <a data-nodrag ng-click="toggle(this)" class="pointer"><span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span></a>
                <div class="pull-right action-buttons">
                    <a data-nodrag ng-click="startEditing(this)" class="pointer"><span title="{{ 'topics.btn.edit'|trans }}" class="glyphicon glyphicon-pencil"></span></a>
                    <a data-nodrag ng-click="removeTopicAlert(node.id)" data-toggle="modal" data-target="#removeAlert" class="pointer"><span title="{{ 'topics.btn.remove'|trans }}" class="glyphicon glyphicon-trash"></span></a>
                </div>
                <span ng-bind-html="node.title | highlight:pattern | trust" class="ng-binding"></span></span>
                <div class="node-edit-div" data-nodrag ng-show="editing">
                  <div class="form-group">
                  <div class="attached-title">{{ 'topics.label.changename'|trans }} {[{ languageCode }]}</div>
                  <form name="editTopicForm" class="form-inline" role="form" novalidate>
                    <div class="alert alert-danger" ng-show="editTopicForm.title.$error.maxlength" role="alert">{{ 'topics.toolong'|trans }}</div>
                    <div class="alert alert-danger" ng-show="editTopicForm.title.$error.minlength" role="alert">{{ 'topics.tooshort'|trans }}</div>
                    <div class="form-group">
                      <input type="text" name="title" required ng-minlength="3" ng-maxlength="25" class="form-control input-sm" placeholder="Topic name" ng-model="node.title">
                    </div>
                    <button type="submit" ng-disabled="editTopicForm.$invalid" class="btn btn-sm btn-default" ng-click="updateTopic(node)">{{ 'topics.btn.save'|trans }}</button>
                  </form>
                  </div>
                    <div class="form-group">
                      <div class="attached-title">{{ 'topics.label.addsubtopic'|trans }}</div>
                          <form name="addSubTopicForm" class="form-inline" role="form" novalidate>
                            <div class="alert alert-danger" ng-show="addSubTopicForm.title.$error.maxlength" role="alert">{{ 'topics.toolong'|trans }}</div>
                            <div class="alert alert-danger" ng-show="addSubTopicForm.title.$error.minlength" role="alert">{{ 'topics.tooshort'|trans }}</div>
                            <div class="form-group">
                              <input type="text" name="title" required ng-minlength="3" ng-maxlength="25" class="form-control input-sm" ng-model="subtopicForm.title" placeholder="{{ 'topics.label.subtopicname'|trans }}">
                            </div>
                            <button type="submit" ng-disabled="addSubTopicForm.$invalid" class="btn btn-sm btn-default" ng-click="addNewTopic(node.id)">{{ 'topics.btn.add'|trans }}</button>
                            <button ng-show="languageCode" title="{{ 'topics.btn.hide'|trans }}" style="float: right;" class="btn btn-sm btn-default" ng-click="startEditing(this)"><span class="glyphicon glyphicon-chevron-up"></span></button>
                          </form>
                      </div>
                      <div ng-show="!languageCode" class="form-group"  style="margin-bottom: 0">
                        <div class="attached-title">{{ 'topics.label.addtranslation'|trans }}</div>
                          <form name="addTranslationForm" class="form-inline" role="form" novalidate>
                            <div class="alert alert-danger" ng-show="addTranslationForm.title.$error.maxlength" role="alert">{{ 'topics.toolong'|trans }}</div>
                            <div class="alert alert-danger" ng-show="addTranslationForm.title.$error.minlength" role="alert">{{ 'topics.tooshort'|trans }}</div>
                            <div class="form-group">
                              <select ng-model="languageSelected" ng-options="language.name for language in languageList" ng-change="onLanguageChange(languageSelected)" class="form-control input-sm" style="width: 160px">
                                <option value="">{{ 'topics.label.choose'|trans }}</option>
                              </select>
                              <input style="width: 227px" type="text" name="title" required ng-minlength="3" ng-maxlength="25" class="form-control input-sm" ng-model="translationForm.title" placeholder="{{ 'topics.label.translationstring'|trans }}">
                            </div>
                            <button type="submit" ng-disabled="addTranslationForm.$invalid" class="btn btn-sm btn-default" ng-click="addTranslation(node.id)">{{ 'topics.btn.add'|trans }}</button>
                            <button title="{{ 'topics.btn.hide'|trans }}" style="float: right;" class="btn btn-sm btn-default" ng-click="startEditing(this)"><span class="glyphicon glyphicon-chevron-up"></span></button>
                          </form>
                      </div>
                      </div>
                      <ul class="list-group" ng-if="!languageCode" ng-model="node.translations">
                          <li class="list-group-item" ng-repeat="node in node.translations" ng-hide="!treeFilter(node, pattern, supportedFields) && !dim" ng-class="{'filtered-out':!treeFilter(node, pattern, supportedFields) && dim}">
                            <span class="badge" style="float: left;">{[{ node.locale }]}</span>
                            <span ng-bind-html="node.content | highlight:pattern | trust" class="ng-binding"></span>
                            <div class="pull-right action-buttons">
                            <a data-nodrag class="pointer" ng-click="removeTranslation(node.id)"><span title="{{ 'topics.btn.removetrans'|trans }}" class="glyphicon glyphicon-remove"></span></a>
                            </div>
                          </li>
                        </ul>
                      </div>
                </div>
              </div>

              <ol ui-tree-nodes="" ng-model="node.__children" ng-class="{hidden: collapsed}">
                <li ng-repeat="node in node.__children" ui-tree-node ng-include="'nodes_renderer.html'">
                </li>
              </ol>
            </script>
            <div ui-tree="treeOptions" id="tree-root">
              <ol ui-tree-nodes="" ng-model="data">
                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
              </ol>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="removeAlert" tabindex="-1" role="dialog" aria-labelledby="removeAlertLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'topics.btn.close'|trans }}</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'topics.alerts.beforedelete'|trans }}</h4>
                  </div>
                  <div class="modal-body" style="font-size: 14px;">
                    {{ 'topics.alerts.beforedeleteinfo'|trans }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'topics.btn.close'|trans }}</button>
                    <button type="button" ng-click="removeTopic()" class="btn btn-danger">{{ 'topics.btn.remove'|trans }}</button>
                  </div>
                </div>
              </div>
            </div>

        </div>
    </div>
</div>
<script>
    var token = "{{ default_csrf_token() }}";
</script>
{% endblock %}