{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}
{% trans_default_domain "topics" %}
{% block admin_title %}{{ Newscoop['site']['title'] }} - {{ 'topics.title'|trans }}{% endblock %}
{% block admin_page_title_box %}
  {% if compactView == false %}
      <div class="toolbar row"><span class="article-title">
    {{ 'topics.title'|trans }}
  </span></div>
  {% endif %}
{% endblock %}
{% block admin_stylesheets %}
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/angular-ui-tree.min.css') }}">
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/bootstrap-custom.css') }}">
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/new-design.css') }}">
<style>
.font-fix {
    font-size: 12px;
}
</style>
{% endblock %}
{% block admin_scripts %}
<script type="text/javascript" src="{{ Newscoop['WEBSITE_URL'] }}/bundles/newscoopnewscoop/js/popover.js"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscoopnewscoop/js/angular.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscoopnewscoop/js/angular-ui-tree.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscoopnewscoop/js/highlight.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscoopnewscoop/js/angular-ui-tree-filter.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscoopnewscoop/js/checklist-model.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscoopnewscoop/js/tree.js') }}"></script>
{% endblock %}
{% block admin_page_menu_bar %}
  {% if compactView == false %}
    {{ parent() }}
  {% endif %}
{% endblock %}
{% block admin_content %}

<div class="system_pref topics" ng-app="treeApp" ng-controller="treeCtrl">
{% if compactView %}
<div class="fixed-top topics-top">
  <button class="button right-floated with-margin-top" type="button" ng-click="attachTopics('{{ articleNumber }}', '{{ articleLanguage }}')">{{ 'topics.btn.saveandclose'|trans }}</button>
  <button class="button right-floated with-margin-top" onclick="parent.$.fancybox.close(); return false;">{{ 'topics.btn.close'|trans }}</button>
  <h3>{{ 'topics.title'|trans }} - {{ 'topics.attachtopics'|trans }}</h3>
  </div>
{% else %}

{{ renderTip('topics.tip'|trans) }}

{% endif %}
<div class="container">
<div class="row" ng-init="dim=false; highlight=true; {% if compactView %}onFilterLanguageChange('{{ articleLanguage }}', '{{ articleNumber }}'){% else %}loadTopicsTree(){% endif %}">
        <div class="col-sm-4">
            <h3>{{ 'topics.label.addroot'|trans }}</h3>
            <div class="alert alert-danger" ng-show="addTopicForm.title.$error.maxlength" role="alert">{{ 'topics.toolong'|trans }}</div>
            <div class="alert alert-danger" ng-show="addTopicForm.title.$error.minlength" role="alert">{{ 'topics.tooshort'|trans }}</div>
            <form class="form-inline" name="addTopicForm" ng-submit="addNewTopic()" role="form">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <input type="text" name="title" ng-model="formData.title" required ng-minlength="1" ng-maxlength="60" class="form-control input-sm" id="addNewTopic" placeholder="{{ 'topics.label.topicname'|trans }}">
                      <button ng-disabled="addTopicForm.$invalid" type="submit" class="btn btn-sm btn-primary">{{ 'topics.btn.add'|trans }}</button>
                      </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <h3>{{ 'topics.label.search'|trans }}</h3>
            <form class="form-inline" name="searchForm" role="form">
                <input type="search" class="form-control search input-sm" placeholder="{{ 'topics.label.filterplaceholder'|trans }}"  ng-model="pattern">
            </form>
        </div>
        <div class="col-sm-4">
          {% if compactView == false %}
          <h3>{{ 'topics.label.filterbylang'|trans }}</h3>
          <form class="form-inline" name="filterForm" role="form">
            <select ng-model="langSelected" ng-options='language.code as (language.name + " [" + language.code + "]") for language in languageList' ng-change="onFilterLanguageChange(langSelected)" class="form-control input-sm">
            <option value="">{{ 'topics.label.all'|trans }}</option>
            </select>
          </form>
          {% endif %}
        </div>
  </div>
        <div class="row">
          <div class="col-lg-12"> 
            <h3>{{ 'topics.label.tree'|trans }}
            <div class="expand-btn pull-right">
                <span class="label">{{ 'topics.label.expandcollapse'|trans }}</span>
                <button type="button" class="btn btn-default btn-sm" title="Expand/collapse tree" ng-click="expandCollapseAll(this)"><span class="glyphicon glyphicon-resize-vertical"></span></button>
              </div>
            </h3>
            <!-- Nested node template -->
            <script type="text/ng-template" id="nodes_renderer.html">
              <div ui-tree-handle ng-class="{'active': editing || addingSubtopic}" class="tree-node tree-node-content angular-ui-tree-handle" {% if compactView %}style="cursor:auto" ng-style="{ background: node.attached ? '#E1E9EF' : '#f2f2f2' }"{% endif %}>
              <div class="pull-right btn-group">
                <a data-nodrag ng-click="startEditing(this)" class="btn btn-default btn-sm" ng-class="{'active': editing}"><span title="{{ 'topics.btn.edit'|trans }}" class="glyphicon glyphicon-pencil"></span></a>
                <a data-nodrag ng-click="showNewSubtopicBox(this)" class="btn btn-default btn-sm" ng-class="{'active': addingSubtopic}"><span title="{{ 'topics.label.addsubtopic'|trans }}" class="glyphicon glyphicon-plus"></span></a>
                {% if compactView == false %}
                <a data-nodrag ng-click="removeTopicAlert(node.id)" data-toggle="modal" data-target="#removeAlert" class="btn btn-default btn-sm"><span title="{{ 'topics.btn.remove'|trans }}" class="glyphicon glyphicon-trash"></span></a>
                {% endif %}
              </div>
                <div class="drag-bar" {% if compactView %}style="display: none;"{% endif %}></div>
                <a data-nodrag ng-click="toggleTopic(this, node)" class="pointer"><span ng-if="node.__children.length > 0" class="glyphicon" ng-class="{'glyphicon-chevron-right': !collapsed, 'glyphicon-chevron-down': collapsed || node.hasAttachedSubtopic || showExpanded}"></span></a>

                <div class="default-wrap" {% if not compactView %}ng-if="!editing"{% endif %}>
                  {% if compactView %}<input type="checkbox" id="selectedCheckbox" checklist-model="selectedTopics.ids" checklist-value="node.id" style="margin-right: 4px;position: absolute;top: 8px;" />{% endif %}
                  <span ng-bind-html="node.title | highlight:pattern | trust" class="ng-binding" {% if compactView %}style="margin-left: 20px;"{% endif %}></span>
                  <ul ng-if="!editing" class="list-group" ng-model="node.translations" ng-init="setLanguageLabel(node, '{{ app.request.locale }}')">
                      <li class="list-group-item" ng-class="{'active': node.activeLabel, 'fallback': languageCode != node.locale && !node.activeLabel && node.fallback}" ng-repeat="node in node.translations">
                          <span class="badge ng-binding">{[{ node.locale }]}</span>
                      </li>
                  </ul>
                </div>
                <div class="node-add-subtopic-div" ng-if="addingSubtopic" data-nodrag style="cursor:auto">
                <h3>{{ 'topics.label.addsubtopic'|trans }}</h3>
                  <div class="node-edit-div" data-nodrag>
                    <div class="form-group">
                      <form name="addSubTopicForm" class="form-inline" role="form" novalidate>
                          <div class="alert alert-danger" ng-show="addSubTopicForm.title.$error.maxlength" role="alert">{{ 'topics.toolong'|trans }}</div>
                          <div class="alert alert-danger" ng-show="addSubTopicForm.title.$error.minlength" role="alert">{{ 'topics.tooshort'|trans }}</div>
                          <div class="form-group">
                            <input type="text" name="title" required ng-minlength="1" ng-maxlength="60" class="form-control input-sm" ng-model="subtopicForm.title" placeholder="{{ 'topics.label.subtopicname'|trans }}">
                            <button type="submit" ng-disabled="addSubTopicForm.$invalid" class="btn btn-sm btn-default" ng-click="addNewTopic(this)">{{ 'topics.btn.add'|trans }}</button>
                          </div>
                        </form>
                    </div>
                  </div>
                </div>
                <div class="node-edit-div" data-nodrag ng-if="editing" data-nodrag style="cursor:auto">
                  <div class="form-group">
                    <form name="editTopicForm" class="form-inline" role="form" novalidate>
                      <div class="alert alert-danger" ng-show="editTopicForm.title.$error.maxlength" role="alert">{{ 'topics.toolong'|trans }}</div>
                      <div class="alert alert-danger" ng-show="editTopicForm.title.$error.minlength" role="alert">{{ 'topics.tooshort'|trans }}</div>
                        <input type="text" name="title" required ng-minlength="1" ng-maxlength="60" class="form-control input-sm" placeholder="{{ 'topics.label.topicname'|trans }}" ng-model="node.title">
                      <button type="submit" ng-disabled="editTopicForm.$invalid" class="btn btn-sm btn-default" ng-click="updateTopic(node)">{{ 'topics.btn.save'|trans }}</button>
                    </form>
                  </div>
                </div>
                <div class="node-lang-div" ng-if="editing" data-nodrag style="cursor:auto">
                    <h3>{{ 'topics.label.addtranslation'|trans }}</h3>
                    <form name="addTranslationForm" class="form-inline" role="form" novalidate>
                            <div class="alert alert-danger" ng-show="addTranslationForm.title.$error.maxlength" role="alert">{{ 'topics.toolong'|trans }}</div>
                            <div class="alert alert-danger" ng-show="addTranslationForm.title.$error.minlength" role="alert">{{ 'topics.tooshort'|trans }}</div>
                            <div class="form-group">
                              <select ng-model="languageSelected" ng-options="language.name for language in languageList" ng-change="onLanguageChange(languageSelected)" class="form-control input-sm" style="width: 160px">
                                <option value="">{{ 'topics.label.choose'|trans }}</option>
                              </select>
                              <input type="text" name="title" required ng-minlength="1" ng-maxlength="60" class="form-control input-sm" ng-model="translationForm.title" placeholder="{{ 'topics.label.translationstring'|trans }}">
                              <button type="submit" ng-disabled="addTranslationForm.$invalid" class="btn btn-sm btn-default" ng-click="addTranslation(node.id)">{{ 'topics.btn.add'|trans }}</button>
                            </div>
                      </form>
                      <h3>{{ 'topics.label.topictranslations'|trans }}</h3>
                      <ul class="lang-list" ng-model="node.translations">
                          <li ng-repeat="node in node.translations">
                            <div>
                              <span class="badge">{[{ node.locale }]}</span>
                              {[{ node.content }]}
                              <a data-nodrag class="remove-translation" ng-click="removeTranslation(node.id)"><span title="{{ 'topics.btn.removetrans'|trans }}" class="glyphicon glyphicon-remove"></span></a>
                            </div>
                          </li>
                      </ul>
                </div>
                <div class="button-close" ng-show="editing || addingSubtopic">
                  <a class="btn btn-sm btn-default" data-nodrag ng-click="hideExtraOptions(this)"><span title="{{ 'topics.btn.hide'|trans }}" class="glyphicon glyphicon-chevron-up"></span></a>
                </div>
              </div>
              <ol ui-tree-nodes ng-model="node.__children" ng-class="{hidden: !showExpanded && !collapsed && !pattern && !node.hasAttachedSubtopic }" ng-if="collapsed || node.hasAttachedSubtopic || ex">
                  <li ng-repeat="node in node.__children" ui-tree-node ng-include="'nodes_renderer.html'">

                  </li>
              </ol>
            </script>
            <div ui-tree="treeOptions" {% if compactView %}data-drag-enabled="false"{% endif %} id="tree-root">
              <ol ui-tree-nodes ng-model="data">
                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'" ng-hide="!treeFilter(node, pattern, supportedFields, this) && !dim" ng-class="{'filtered-out':!treeFilter(node, pattern, supportedFields, this) && dim}"></li>
              </ol>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="removeAlert" tabindex="-1" role="dialog" aria-labelledby="removeAlertLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'topics.btn.close'|trans }}</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'topics.alerts.beforedelete'|trans }}</h4>
                  </div>
                  <div class="modal-body" style="font-size: 14px;">
                    {{ 'topics.alerts.beforedeleteinfo'|trans }}
                  </div>
                  <div class="modal-body attached-info" style="font-size: 14px; display: none;">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'topics.btn.close'|trans }}</button>
                    <button type="button" ng-click="removeTopic()" class="btn btn-danger">{{ 'topics.btn.remove'|trans }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<script>
    var token = "{{ default_csrf_token() }}";
</script>
{% endblock %}
{% block admin_page_footer_box %}
  {% if compactView == false %}
    {{ parent() }}
  {% endif %}
{% endblock %}

