{% raw %}
{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ parent() }} - {% endraw %}{{ pluginName }}{% raw %} Admin{% endblock %}
{% block admin_page_title_content %}{% endraw %}{{ pluginName }}{% raw %} Admin{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/jquery.dynatable.css') }}">
{% endblock %}

{% block admin_scripts %}
<script src="{{ asset('/js/select2/select2.js') }}"></script>
<script src="{{ asset('/bundles/newscoopnewscoop/js/jquery.dynatable.js') }}"></script>
{% endblock %}

{% block admin_content %}
{% endraw %}

<div class="plugin-container">
  <p>Hi, {% raw %}{{ name }}{% endraw %}</p>
</div>

{% raw %}{% endblock %}{% endraw %}
