{% extends "layout.twig" %}

{% block fixed %}{% endblock %}
{% block header %}Database Configuration{% endblock %}
{% block content %}
<form role="form" action="#" method="post">
    {{ form_row(form.server_name) }}
    {{ form_row(form.server_port) }}
    {{ form_row(form.user_name) }}
    {{ form_row(form.user_password) }}
    {{ form_row(form.database_name) }}
    {{ form_widget(form._token) }}
    {% set messages = app.session.flashbag.get('danger') %}
    <div class="bottom{% if messages %} notification fail{% endif %}">
    	{% for key, message in messages %}
    		<span>{{ message|raw }}</span>{% if messages|length > 1 %}<br>{% endif %}
		{% endfor %}
		<input class="btn btn-blue" type="submit" value="Next">
		<input class="btn btn-white" type="reset" value="Reset">
	</div>
</form>
{% endblock %}