{% extends "layout.twig" %}

{% block fixed %}{% endblock %}
{% block header %}Main settings{% endblock %}
{% block content %}
<form role="form" action="#" method="post">
    {{ form_row(form.site_title) }}
    {{ form_row(form.recheck_user_password) }}
    {{ form_row(form.user_email) }}
    {{ form_widget(form._token) }}
    <div class="bottom {% if hasErrors %}notification fail{% endif %}">
    	<span>{{ form_errors(form)|striptags }}
    	</span>
		<input class="btn btn-blue" type="submit" value="Finish">
		<input class="btn btn-white" type="reset" value="Reset">
	</div>
</form>
{% endblock %}