<link rel="stylesheet" href="{{ asset('/bundles/newscooparticles/css/editorial-comments.css') }}">
<link rel="stylesheet" href="{{ asset('/bundles/newscooparticles/app/loading-bar.css') }}">
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/bootstrap-custom-comments.css') }}">
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/bootstrap-custom.css') }}">
{% trans_default_domain "comments" %}
<script type="text/javascript">
    var clientId = '{{ clientId }}';
    var  token = "{{ default_csrf_token() }}";
    var  articleNumber = "{{ articleNumber }}";
    var  articleLanguage = "{{ articleLanguage }}";
</script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

<div ng-app="editorialCommentsApp" class="tabpane articlebox" title="{{ 'editorial.label.title'|trans }}">
<div ng-view=""></div>
<script type="text/javascript" src="{{ asset('public/bundles/newscoopnewscoop/js/angular.min.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.7/angular-route.js"></script>
<script src="//angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscooparticles/app/loading-bar.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/bundles/newscoopnewscoop/js/moment-with-locales.js') }}"></script>
<script type="text/javascript" src="{{ asset('public/bundles/newscoopnewscoop/js/angular-moment.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscooparticles/app/ng-infinite-scroll.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscooparticles/app/app.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscooparticles/app/comments-ctrl.js') }}"></script>
<script type="text/javascript" src="{{ asset('/bundles/newscooparticles/app/services/comments.js') }}"></script>
<script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
<script src="{{ url('bazinga_jstranslation_js', { 'domain': 'comments' }) }}?locales={{ localeFromCookie }}"></script>
</div>