{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}
{% trans_default_domain "new_comments" %}

{% block admin_title %}{{ parent() }} - {{ 'comments.label.comments'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'comments.label.comments'|trans }}{% endblock %}

{% block admin_stylesheets %}
<link rel="stylesheet" href="{{ asset('/bundles/newscoopnewscoop/css/comments.css') }}">
<link rel="stylesheet" href="{{ Newscoop['WEBSITE_URL'] }}/admin-style/comments.css">
{% endblock %}

{% block admin_scripts %}

{% endblock %}

{% block admin_content %}
<div class="plugin-container">
    <div id="showComments">
        <form method="post" action="">
        <fieldset class="filters">
            <legend>Show</legend>
            <ul class="list-inline">
                <li class="new">
                    {{ form_widget(filterForm.new, { checked : app.session.get('filterNew') ? true : false }) }} {{ form_label(filterForm.new) }}
                </li>
                <li class="approved">
                    {{ form_widget(filterForm.approved, { checked : app.session.get('filterApproved') ? true : false }) }} {{ form_label(filterForm.approved) }}
                </li>
                <li class="hidden">
                    {{ form_widget(filterForm.hidden, { checked : app.session.get('filterHidden') ? true : false }) }} {{ form_label(filterForm.hidden) }}
                </li>
                <li class="hidden">
                   {{ form_widget(filterForm.recommended, { checked : app.session.get('filterRecommended') ? true : false }) }} {{ form_label(filterForm.recommended) }}
                </li>
                <li class="hidden">
                    {{ form_widget(filterForm.unrecommended, { checked : app.session.get('filterUnrecommended') ? true : false }) }} {{ form_label(filterForm.unrecommended) }}
                </li>
                <li>{{ form_widget(filterForm.filterButton, { 'attr': { 'class': 'btn btn-default btn-xs'} }) }}</li>
                {{ form_rest(filterForm) }}
            </ul>
        </fieldset>
        </form>
    </div>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control input-sm" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default btn-sm">Submit</button>
    </form>
    <div class="table-responsive">
        <table class="table" id="commentsTable">
            <thead>
                <tr>
                  <th><input class="toggle-checkbox" type="checkbox"></th>
                  <th>Author</th>
                  <th>Date / Comment</th>
                  <th>Article</th>
              </tr>
            </thead>
            <tbody>
                {% if pagination.getTotalItemCount > 0 %}
                {% for row in commentsArray %}
                <tr>
                    <td style="width: 3%; ">
                        <input type="checkbox" name="index[]" value="{{ row.comment.id }}" class="table-checkbox"><span class="index">{{ row.index }}.</span>
                    </td>
                    <td>
                        <div class="commentUserHolder">
                            <div>
                                <img src="http://www.gravatar.com/avatar/{{ row.avatarHash }}?s=50&amp;d=wavatar&amp;r=g">
                            </div>
                            <p></p>
                            <p>
                            {% if row.comment.commenter.user is empty %}
                                {{ row.comment.commenter.name }} ({{ 'comments.label.anonymous'|trans }}) {% if row.banned %} <span class="label label-danger">{{ 'comments.label.banned'|trans }}</span>{% endif %}
                            {% else %}
                                <a href="/profile/{{ row.comment.commenter.name }}">{{ row.comment.commenter.name }}</a>{% if row.banned %} <span class="label label-danger">{{ 'comments.label.banned'|trans }}</span>{% endif %}</p>
                            {% endif %}
                            <p><a target="_blank" href="http://www.ip-adress.com/ip_tracer/{{ row.comment.commenter.ip }}">{{ row.comment.commenter.ip }}</a></p>
                            <p><a href="mailto:{{ row.comment.commenter.email }}">{{ row.comment.commenter.email }}</a></p>
                            <a href="/admin/comment-commenter/toggle-ban/format/json/commenter/{{ row.comment.commenter.id }}/thread/{{ row.comment.thread.number }}/language/{{ row.comment.language.id }}" class="btn btn-default btn-xs ban-btn"><span class="glyphicon glyphicon-ban-circle"></span> Ban/Unban user</a>
                            <p></p>
                        </div>
                    </td>
                    <td style="width: 40%;">
                        <div class="dateCommentHolder">
                            <h4>
                                <span>{{ row.comment.timeCreated|date("Y.m.d") }} {{ 'comments.label.at'|trans }} {{ row.comment.timeCreated|date("H:i:s") }}</span>
                                <span class="commentSubject">
                                    {% if row.comment.subject|length > 50 %}
                                    {{ row.comment.subject|slice(0, 50) }}...
                                {% else %}
                                    {{ row.comment.subject }}
                                {% endif %}
                                </span>
                            </h4>
                            <p class="commentBody">
                                {% if row.comment.message|length > 400 %}
                                    {{ row.comment.message|slice(0, 400) }}...
                                {% else %}
                                    {{ row.comment.message }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="dateCommentHolderReply">
                            <fieldset class="content-reply_{{ row.comment.id }}" style="display:none;">
                                <h3>Reply to comment</h3>
                                <form action="{{ path('newscoop_newscoop_comments_reply', { id: row.comment.id }) }}">
                                    <label>Subject</label>
                                    <input name="subject" type="text" class="form-control input-sm">
                                    <label>Comment</label>
                                    <textarea name="message" class="form-control input-sm"></textarea>
                                    <div class="buttonBar">
                                        <input type="button" value="Cancel" id="{{ row.comment.id }}" class="btn btn-default btn-sm reply-cancel">
                                        <input type="submit" value="Submit" class="btn btn-default btn-sm">
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </td>
                    <td>
                        <div class="commentArticleHolder">
                            <p>
                                <a href="/admin/articles/get.php?f_publication_id={{ row.comment.thread.publication.id }}&amp;f_issue_number={{ row.issueNumber }}&amp;f_section_number={{ row.comment.thread.section.number }}&amp;f_article_number={{ row.comment.thread.number }}&amp;f_language_id={{ row.comment.thread.language.id }}&amp;f_language_selected={{ row.comment.thread.language.id }}" class="articleLink">{{ row.comment.thread.name }}</a><br>
                                <span>{{ row.comment.thread.publication.name }} - <b>Section</b> {{ row.comment.thread.section.name }}</span>
                            </p>
                            <a class="goToArticle" href="/admin/articles/edit.php?f_publication_id={{ row.comment.thread.publication.id }}&amp;f_issue_number={{ row.issueNumber }}&amp;f_section_number={{ row.comment.thread.section.number }}&amp;f_article_number={{ row.comment.thread.number }}&amp;f_language_id={{ row.comment.thread.language.id }}&amp;f_language_selected={{ row.comment.thread.language.id }}">Go to edit article</a> 
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" style="border-top: none;"></td>
                    <td colspan="6" style="border: none; padding: 0 0 5px 0">
                        <div class="commentBtns" style="visibility: visible;">
                            <ul>
                                <li>
                                    <input type="radio" name="action_comment_{{ row.comment.id }}" class="action new" id="comment_buttons_form_buttons_0" value="pending" data="pending_{{ row.comment.id }}" {% if row.comment.status == 'pending' %}checked {% endif %}>
                                    <label for="pending_{{ row.comment.id }}">New</label>
                                </li>
                                <li>
                                    <input type="radio" name="action_comment_{{ row.comment.id }}" class="action approved" data="approved_{{ row.comment.id }}" value="approved" {% if row.comment.status == 'approved' %}checked {% endif %}>
                                    <label for="approved_{{ row.comment.id }}">Approved</label>
                                </li>
                                <li>
                                    <input type="radio" name="action_comment_{{ row.comment.id }}" class="action hidden" data="hidden_{{ row.comment.id }}" value="hidden" style="height: auto" {% if row.comment.status == 'hidden' %}checked {% endif %}>
                                    <label for="hidden_{{ row.comment.id }}">Hidden</label>
                                </li>
                                <li><a href="javascript:;" id="{{ row.comment.id }}" class="actionButton action-reply btn btn-default btn-xs">Reply</a></li>
                                <li><a href="javascript:;" id="deleted_{{ row.comment.id }}" class="actionButton action btn btn-default btn-xs">Delete</a></li>
                                <li><a href="javascript:;" id="unrecommend_{{ row.comment.id }}" class="actionButton action-unrecommend btn btn-default btn-xs">Unrecommend</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="7">{{ 'comments.label.noentries'|trans }}</td></tr>
                {% endif %}
            </tbody>
        </table>
        {% if pagination.getTotalItemCount > 0 %}
        <div class="row">
            <div class="col-xs-3 col-sm-4 col-md-5">
                <div class="dataTables_info" id="commentsTable_info">
                    {{ 'comments.label.showing'|trans }}
                    {% if pagination.getItems|length == 0 %} 0 {% else %} 1 {% endif %} {{ 'comments.label.to'|trans }} {{ pagination.getItems|length }} {{ 'comments.label.of'|trans }} {{ pagination.getTotalItemCount }} {{ 'comments.label.entries'|trans }}.
                </div>
            </div>
            <div class="col-xs-9 col-sm-8 col-md-7 text-right"></div>
        </div>
        {% endif %}
        <div class="pagination-wrapper">
            <ul class="pagination pagination-sm">
            {{ knp_pagination_render(pagination) }}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.commentBtns ul li input').live('click', function () {
        var el = $(this);
        var id = el.attr('data');
        var ids = [id.match(/\d+/)[0]];
        var status = id.match(/[^_]+/)[0];

        if (status == 'deleted' && !confirm('{{ 'comments.msg.sure'|trans }}' + '\n' + '{{ 'comments.msg.sure'|trans }}')) {
            return false;
        }

        $.ajax({
            type: 'POST',
            url: '{{ path('newscoop_newscoop_comments_setstatus') }}',
            data: {
                "comment": ids,
                "status": status
            },
            success: function (data) {
                if ('deleted' == status) {
                    flashMessage('{{ 'comments.msg.deleted'|trans }}');
                } else if (status == 'pending') {
                    flashMessage('{{ 'comments.msg.status.new'|trans }}');
                } else if (status == 'approved') {
                    flashMessage('{{ 'comments.msg.status.approved'|trans }}');
                } else if (status == 'hidden') {
                    flashMessage('{{ 'comments.msg.status.hidden'|trans }}');
                }
            },
            error: function (rq, status, error) {
                if (status == 0 || status == -1) {
                    flashMessage('{{ 'comments.msg.error.reach|trans '}}', "error");
                }
            }
        });

    });

    $('.action-reply').live('click', function () {
        var el = $(this);
        $('.content-reply_'+el.attr('id')).hide();
        $('.content-reply_'+el.attr('id')).toggle("fast");
    });

    $('.dateCommentHolderReply form').live('submit', function () {
        var that = this;
        $.ajax({
            type: 'POST',
            url: $(this).attr('action'),
            data: $(this).serialize(),
            success: function (data) {
                if (data.status) {
                    flashMessage('Comment updated.');
                    location.href = '{{ path('newscoop_newscoop_comments_index') }}';
                } else {
                    flashMessage('Error sending reply', "error");
                }
            },
            error: function (rq, status, error) {
                if (status == 0 || status == -1) {
                    flashMessage('{{ 'comments.msg.error.reach|trans '}}', "error");
                }
            }
        });
        return false;
    });

    $('.dateCommentHolderReply .reply-cancel').live('click', function () {
        var el = $(this);
        var form = $('.content-reply_'+el.attr('id')+' form');
        $(form).each(function () {
            this.reset();
        });
        $('.content-reply_'+el.attr('id')).slideDown("fast");
        $('.content-reply_'+el.attr('id')).hide();
    });
</script>
{% endblock %}