{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ Newscoop['site']['title'] }} - {{ 'newscoop.preferences.label.title'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'newscoop.preferences.label.header'|trans }}{% endblock %}

{% block admin_content %}
<link rel="stylesheet" href="{{ Newscoop['WEBSITE_URL'] }}/bundles/newscoopnewscoop/css/bootstrap.css">
<script type="text/javascript" src="{{ Newscoop['WEBSITE_URL'] }}/bundles/newscoopnewscoop/js/bootstrap.min.js"></script>
{{ loadTranslationStrings('system_pref') }}
{% if form_errors(form) %}
    <div class="alerts alert-danger">
        {{ form_errors(form) }}
    </div>
{% endif %}
{% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alerts alert-danger">
            {{ flashMessage }}
        </div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alerts alert-success">
            {{ flashMessage }}
        </div>
{% endfor %}
<form action="{{ path('newscoop_newscoop_systempref_index') }}" method="post" {{ form_enctype(form) }} >
<div class="system_pref">
    <div class="tabbable tabs-left"> 
        <ul class="nav nav-tabs">
            <li class="active"><a href="#general_settings" data-toggle="tab">{{ getGS("General Settings") }}</a></li>
            {% if hasManagePermission %}
                <li><a href="#email_settings" data-toggle="tab">{{ getGS("Email Settings") }}</a></li>
                <li><a href="#editor_settings" data-toggle="tab">{{ getGS("Editor Settings") }}</a></li>
            {% endif %}
            <li><a href="#geolocation_settings" data-toggle="tab">{{ getGS("Geolocation Settings") }}</a></li>
            <li><a href="#mailchimp_settings" data-toggle="tab">{{ getGS("MailChimp Settings") }}</a></li>
            <li><a href="#facebook_settings" data-toggle="tab">{{ getGS("Facebook Settings") }}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="general_settings">
                <h3>{{ getGS("General Settings") }}</h3>
                    <dl>
                        <dt>
                            <label>{{ getGS("Site On-Line:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.siteonline) }} 
                        </dd>
                        <dt>
                            <label>{{ getGS("Site Title:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.title, {'attr' : {'class' : 'input_text'}}) }} 
                        </dd>
                        <dt>
                            <label>{{ getGS("Site Meta Keywords:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.meta_keywords, {'attr' : {'class' : 'input_text'}}) }} 
                        </dd>
                        <dt>
                            <label>{{ getGS("Site Meta Description:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.meta_description, {'attr' : {'class' : 'input_text'}}) }} 
                        </dd>
                        <dt>
                            <label>{{ getGS("Time Zone:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.timezone, {'attr' : {'class' : 'input_select wide'}}) }} 
                        </dd>
                        {% if hasManagePermission %}
                            <dt>
                                <label>{{ getGS("Database Cache Engine:") }}</label>
                            </dt>
                            <dd>
                                {{ form_widget(form.cache_engine, {'attr' : {'class' : 'input_select wide'}}) }} 
                            </dd>
                            <dt>
                                <label>{{ getGS("Template Cache Handler:") }}</label>
                            </dt>
                            <dd>
                                {{ form_widget(form.cache_template, {'attr' : {'class' : 'input_select wide'}}) }} 
                            </dd>
                        {% endif %}
                        <dt>
                            <label>{{ getGS("Imagecache Lifetime:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.cache_image, {'attr' : {'class' : 'input_select wide'}}) }} 
                        </dd>
                        <dt>
                            <label>{{ getGS("Allow password recovery:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.allow_recovery) }} 
                        </dd>
                        <div id="password_recovery">
                        <dt>
                            <label>{{ getGS('From email address:') }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.password_recovery_form, {'attr' : {'class' : 'input_text'}}) }} 
                        </dd>
                        </div>
                        <dt>
                            <label>{{ getGS("Secret Key:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.secret_key, {'attr' : {'class' : 'input_text'}}) }} 
                        </dd>
                        <dt>
                            <label>{{ getGS("Session Lifetime:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.session_lifetime, {'attr' : {'class' : 'input_text'}}) }}
                            {% if php_ini_max_seconds %}
                                <span style="margin-top:8px;"><= {{ php_ini_max_seconds }}, {{ getGS('according to php.ini settings') }}
                                </span>
                            {% endif %}
                        </dd>
                        <dt>
                            <label>{{ getGS("Keyword separator:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.separator, {'attr' : {'class' : 'input_text', 'style' : 'width: 50px'}}) }} 
                        </dd>
                        <dt>
                            <label>{{ getGS("Number of failed login attempts before showing CAPTCHA :") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.captcha, {'attr' : {'class' : 'input_text', 'style' : 'width: 50px'}}) }} 
                        </dd>
                        <dt>
                            <label>{{ getGS("Maximum upload file size:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.max_upload_size, {'attr' : {'class' : 'input_text', 'style' : 'width: 50px'}}) }}
                            <p>{{ getGS("Enter a value between 0 and $1 (the maximum size is specified in 'php.ini'). Please use 'K' for kilobytes, 'M' for megabytes and 'G' for gigabytes, without white spaces between the value and the corresponding letter, e.g. '3M'.", upload_min_filesize ) }}</p>
                        </dd>
                        {% if hasManagePermission %}
                        <dt>
                            <label>{{ getGS("Automatic collection of statistics:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.automatic_collection) }} 
                        </dd>
                        {% endif %}
                    <dl> 
            </div>
            {% if hasManagePermission %}
            <div class="tab-pane" id="email_settings">
                <h3>{{ getGS("Email Settings") }}</h3>
                <dl>
                    <dt>
                        <label>{{ getGS("SMTP Host:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.smtp_host, {'attr' : {'class' : 'input_text'}}) }} 
                    </dd>
                    <dt>
                        <label>{{ getGS("SMTP Port:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.smtp_port, {'attr' : {'class' : 'input_text'}}) }} 
                    </dd>
                    <dt>
                        <label>{{ getGS("Email contact:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.email_contact, {'attr' : {'class' : 'input_text'}}) }} 
                    </dd>
                    <dt>
                        <label>{{ getGS("Email from:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.email_from, {'attr' : {'class' : 'input_text'}}) }} 
                    </dd>
                </dl>
            </div>        
            <div class="tab-pane" id="editor_settings">
                <h3>{{ getGS("Editor Settings") }}</h3>
                <dl>
                    <dt>
                        <label>{{ getGS("Image Resizing Ratio:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.image_ratio, {'attr' : {'class' : 'input_text', 'style' : 'width: 67px'}}) }} %
                    </dd>
                    <dt>
                        <label>{{ getGS("Image Resizing Width:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.image_width, {'attr' : {'class' : 'input_text', 'style' : 'width: 67px'}}) }} pixels
                    </dd>
                    <dt>
                        <label>{{ getGS("Image Resizing Height:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.image_height, {'attr' : {'class' : 'input_text', 'style' : 'width: 67px'}}) }} pixels
                    </dd>
                    <dt>
                        <label>{{ getGS("Zoom enabled for images in article content?") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.zoom) }}
                    </dd>
                    <dt class="border"><label>{{ getGS("Reader subscriptions managed externally?") }}</label></dt>
                    <dd>
                        {{ form_widget(form.external_management) }}
                    </dd>
                    <dt class="border"><label>{{ getGS("Setting up a Newscoop Replication Server?")}}</label></dt>
                    <dd>
                        {{ form_widget(form.use_replication) }}
                    </dd>
                    <div id="replication_server">
                        <dl>
                            <dt><h4>{{ getGS("Newscoop Online Server Database") }}</h4></dt>
                            <dt><label>{{ getGS("Database Replication Host:") }}</label></dt>
                            <dd>
                                {{ form_widget(form.use_replication_host, {'attr' : {'class' : 'input_text'}}) }}
                            </dd>
                            <dt><label>{{ getGS("Database Replication User:") }}</label></dt>
                            <dd>
                                {{ form_widget(form.use_replication_user, {'attr' : {'class' : 'input_text'}}) }}
                            </dd>
                            <dt><label>{{ getGS("Database Replication Password:") }}</label></dt>
                            <dd>
                                {{ form_widget(form.use_replication_password, {'attr' : {'class' : 'input_text'}}) }}
                            </dd>
                            <dt><label>{{ getGS("Database Replication Port:") }}</label></dt>
                            <dd>
                                {{ form_widget(form.use_replication_port, {'attr' : {'class' : 'input_text'}}) }}
                            </dd>
                        </dl>
                    </div>
                    <dt class="border"><label>{{ getGS("Templates filter mask (separated by comma)") }}</label></dt>
                    <dd>
                       {{ form_widget(form.template_filter, {'attr' : {'class' : 'input_text'}}) }}
                    </dd> 
                    <dt class="border"><label>{{ getGS("Run scheduled tasks externally?") }}</label></dt>
                    <dd>
                        {{ form_widget(form.external_cron_management) }}
                    </dd>
                </dl>
            </div>
            {% endif %}
            <div class="tab-pane" id="geolocation_settings">
                <h3>{{ getGS("Geolocation Settings") }}</h3>
                <dl>
                    {% if mysql_client_command_path %}
                    <dt align="left" width="400px" title="{{ getGS("to load geo-names data") }}" style="color:#b06000">
                            {{ getGS("MySQL client command path") }}
                    </dt>
                    <dd align="left" valign="top">
                        {{ form_widget(form.mysql_client_command_path, {'attr' : {'class' : 'input_text'}}) }}
                    </dd>
                    {% endif %}
                    <dt>
                        <label>{{ getGS("Map Center Latitude:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.center_latitude_default, {'attr' : {'class' : 'input_text'}}) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Map Center Longitude:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.center_longitude_default, {'attr' : {'class' : 'input_text'}}) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Map Zoom Level:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.map_display_resolution_default, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                    </dd>
                    {% if hasManagePermission %}
                        <dt>
                            <label>{{ getGS("Map Default Width:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_view_width_default, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                        <dt>
                            <label>{{ getGS("Map Default Height:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_view_height_default, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                    {% endif %}
                    <dt class="border">
                        <label>{{ getGS("Include CSS file for map view") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.map_auto_cSS_file, {'attr' : {'class' : 'input_text'}}) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Map auto-focusing as the default behavior:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.map_auto_focus_default, {'attr' : {'class' : 'input_text'}}) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Maximal zoom for auto-focusing:") }} (0-18)</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.map_auto_focus_max_zoom, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Map border for auto-focusing:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.map_auto_focus_border, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                    </dd>
                    <dt class="border">
                        <label>{{ getGS("Allow Google Streets Map Provider:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.map_provider_available_google_v3) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Allow MapQuest Map Provider:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.map_provider_available_map_quest) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Allow OpenStreet Map Provider:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.map_provider_available_oSM) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Default Map Provider:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.map_provider_default, {'attr' : {'class' : 'input_select'}}) }}
                    </dd>
                    <dt class="border">
                        <label>{{ getGS("Use Local GeoNames Search:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.geo_search_local_geonames) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Use MapQuest Nominatim Search:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.geo_search_mapquest_nominatim) }}
                    </dd>
                    <dt>
                        <label>{{ getGS("Preferred address language:") }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.geo_search_preferred_language, {'attr' : {'class' : 'input_select'}}) }}
                    </dd>
                    {% if hasManagePermission %}
                        <dt class="border">
                            <label>{{ getGS("Map Marker Directory:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_marker_directory, {'attr' : {'class' : 'input_text'}}) }}
                        </dd>
                         <dt>
                            <label>{{ getGS("Map Marker Default:") }}</label>
                        </dt>
                        <dd>
                            {% if map_marker_source_default is iterable %}
                                <select name="preferencesform[map_marker_source_default]" class="input_select">
                                    {% for mark in map_marker_source_default %}
                                        <option value="{{ mark }}" {% if map_marker_source_selected == mark %} selected="selected" {% endif %}>{{ mark }}</option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <input type="text" name="preferencesform[map_marker_source_default]" value="{{ map_marker_source_default }}" maxlength="80" size="40" class="input_text"/>
                            {% endif %}
                        </dd>
                        <dt class="border">
                            <label>{{ getGS("Map Popup Minimal Width:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_popup_width_min, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                         <dt>
                            <label>{{ getGS("Map Popup Minimal Height:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_popup_height_min, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                        <dt class="border">
                            <label>{{ getGS("Youtube Default Width:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_video_width_you_tube, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                        <dt>
                            <label>{{ getGS("Youtube Default Height:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_video_height_you_tube, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                        <dt class="border">
                            <label>{{ getGS("Vimeo Default Width:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_video_width_vimeo, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                        <dt>
                            <label>{{ getGS("Vimeo Default Height:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_video_height_vimeo, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                        <dt class="border">
                            <label>{{ getGS("Flash Default Width:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_video_width_flash, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                        <dt>
                            <label>{{ getGS("Flash Default Height:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.map_video_height_flash, {'attr' : {'class' : 'input_text', 'style' : 'width: 81px;'}}) }}
                        </dd>
                        <dt class="border">
                            <label>{{ getGS("Local Flash Server:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.geo_flash_server, {'attr' : {'class' : 'input_text' }}) }}
                        </dd>
                        <dt>
                            <label>{{ getGS("Local Flash Directory:") }}</label>
                        </dt>
                        <dd>
                            {{ form_widget(form.geo_flash_directory, {'attr' : {'class' : 'input_text' }}) }}
                        </dd>
                    {% endif %}
                </dl>
            </div>
            <div class="tab-pane" id="mailchimp_settings">
                <h3>{{ getGS("MailChimp Settings") }}</h3>
                <dl>
                    <dt>
                        <label>{{ getGS('API Key:') }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.mailchimp_apikey, {'attr' : {'class' : 'input_text' }}) }}
                    </dd>
                    <dt>
                        <label>{{ getGS('List Unique Id:') }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.mailchimp_listid, {'attr' : {'class' : 'input_text' }}) }}
                    </dd>
                </dl>
            </div>
            <div class="tab-pane" id="facebook_settings">
                <h3>{{ getGS("Facebook Settings") }}</h3>
                <dl>
                    <dt>
                        <label>{{ getGS('App ID:') }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.facebook_appid, {'attr' : {'class' : 'input_text' }}) }}
                    </dd>
                    <dt>
                        <label>{{ getGS('App Secret:') }}</label>
                    </dt>
                    <dd>
                        {{ form_widget(form.facebook_appsecret, {'attr' : {'class' : 'input_text' }}) }}
                    </dd>
                </dl>
            </div>
            <div class="save-button-bar">
                <button type="submit" class="save-button">{{ getGS('Save') }}</button>
            </div>
        </div>
    </div>
</div>
{{ form_widget(form._token) }}
</form>
<script type="text/javascript"><!--
    $(function() {
        $("input:radio[name=preferencesform\\[allow_recovery\\]]").change(function() {
            var email_div = $('#password_recovery');
            if ($(this).val() == 'Y') {
                email_div.show();
            } else {
                email_div.hide();
            }
        });
        $("input:radio[name=preferencesform\\[use_replication\\]]").change(function() {
            var replication_div = $('#replication_server');
            if ($(this).val() == 'Y') {
                replication_div.show();
            } else {
                replication_div.hide();
            }
        });

        $("input:radio[name=preferencesform\\[use_replication\\]]:checked").change();
    });
//--></script>
{% endblock %}